body {
  margin: 0px;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p{
  line-height: 33px;
  font-size: 1.1rem;
}

li{
  list-style: none;
  line-height: 33px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/* BUTTON STYLING */

#nav-btn{
  padding: 10px 20px;
  font-size: 1rem;
  border: 3px;
  border: none, 1px;
  color: #ffffff;
  background-image: linear-gradient(to right, #d434ef, #903aff);
}

/* Form STYLING */
input{
  width: 90%;
  padding: 15px;
  border: 1px solid #ffffff;
  background-color: #903aff1a;
}

textarea{
  width: 90%;
  height: 80px;
  padding: 15px;
  border: 1px solid #ffffff;
  background-color: #903aff1a;
}

select{
  width: 100%;
  padding: 15px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(144, 58, 255, 0.1);
}

.form-box{
  padding: 30px;
  background-color: #120d1f;
  box-shadow: 11px 11px 22px #150e28,
              -11px -11px 22px #150e28;
}


/* NAV STYLING */
.navbar{
  display: flex;
  padding: 0 120px;
  align-items: center;;
  justify-content: space-between;
}

.navbar .nav-logo{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .logo-span{
  color: #d434fe;
}

.navbar .nav-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: baseline;
}

.navbar .nav-links ul li{
  display: inline-block;
  margin: 0 15px;
  color: #ffffff;
  gap: 20px;
  position: relative;
}

.navbar .nav-links ul li a:hover{
  color: #d434fe;
  transition: 0.5s ease-in-out;
}

.navbar .nav-links ul li a:hover::after{
  content: "";
  width: 60%;
  height: 4px;
  background: #d434ef;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar .nav-btn{
  margin-left: 100px;
}

.navbar .nav-icons{
  display: none;
}


.box{
  width: 250px;
  height: 100px;
  border: solid 5px #d434ef;
  border-color: #d434ef transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}



/* FOOTER STYLING */
.footer ul li{
  list-style: none;
  margin-left: -40px;
}

/* REGISTER STYLING */
.register{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

label{
  margin-top: 20px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* CONTACT STYLING */
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

.ptag{
  color: #d434ef;
}

/*.ptag::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}*/

.flexTemplate{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.timeline{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.flexTemplate h3{
  color: #d434ef;
}

.lines{
  position: relative;
}

.line{
  content: "";
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to right, #d434ef, #903aff);
  border-radius: 50%;
  text-align: center;
  margin-top: 100px;
}

.line::before{
  content: "";
  width: 3px;
  height: 80px;
  background: #d434fe;
  position: absolute;
  top: -90px;
  margin-left: 4px;
}


/* MOBILE VIEW */
@media screen and (max-width:800px){

  p{
    line-height: 33px;
    font-size: 0.9rem;
  }

  /* NAVBAR STYLES FOR MOBILE VIEW */

  .navbar{
    padding: 10px 50px;
  }

/*  .navbar .nav-links{
    display: none;
  }*/

  .navbar .links{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    right: 3000px;
    margin-top: 40px;
    z-index: 1;
    background-color: #150e28;;
}

.navbar .links.active{
  right: 0;
}

  .navbar .nav-icons{
    display: inline;
  }

  .navbar .nav-btn{
    margin: 0;
  }

  .navbar .nav-links ul li{
    margin-top: 20px;
  }

  .navbar .nav-links ul li a{
    cursor: pointer;
  }

  /* MOBILE VIEW STYLES FOR HEADER */
  .hearder-details{
    display: grid;
    grid-template-columns: 100%;
  }

  /* MOBILE VIEW STYLES FOR HEADER */
  .big-idea{
    display: grid;
    grid-template-columns: 100%;
  }


  .rules{
    display: grid;
    grid-template-columns: 100%;
  }

  .activities{
    margin-left: 20px;
  }

  .line{
    content: "";
    width: 50px;
    height: 20px;
    background-image: linear-gradient(to right, #d434ef, #903aff);
    border-radius: 50%;
    text-align: center;
    margin-top: 120px;
  }

  .line::before{
    content: "";
    width: 3px;
    height: 100px;
    background: #d434fe;
    position: absolute;
    top: 20px;
  }

}