body {
  margin: 0px;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  padding: 0 120px;
}

hr{
  border: 0.5px solid #302f2f;
}

p{
  line-height: 33px;
  font-size: 1.1rem;
}

li{
  line-height: 33px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/* BUTTON STYLING */
button{
  padding: 10px 20px;
  font-size: 1rem;
  border: 3px;
  border: none, 1px;
  color: #ffffff;
  background-image: linear-gradient(to right, #d434ef, #903aff);
}
#nav-btn{
  padding: 10px 20px;
  font-size: 1rem;
  border: 3px;
  border: none, 1px;
  color: #ffffff;
  background-image: linear-gradient(to right, #d434ef, #903aff);
}

/* Form STYLING */
input{
  width: 90%;
  padding: 15px;
  border: 1px solid #ffffff;
  background-color: #903aff1a;
}

textarea{
  width: 90%;
  height: 80px;
  padding: 15px;
  border: 1px solid #ffffff;
  background-color: #903aff1a;
}

select{
  width: 100%;
  padding: 15px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(144, 58, 255, 0.1);
}

.form-box{
  padding: 30px;
  background-color: #120d1f;
  box-shadow: 11px 11px 22px #150e28,
              -11px -11px 22px #150e28;
}


/* NAV STYLING */
.navbar{
  display: flex;
  align-items: center;;
  justify-content: space-between;
  width: 90%;
}

.navbar .nav-logo{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .logo-span{
  color: #d434fe;
}

.navbar .nav-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: baseline;
}

.navbar .nav-links ul li{
  display: inline-block;
  margin: 0 15px;
  color: #ffffff;
  gap: 20px;
}

.navbar .nav-btn{
  margin-left: 100px;
}

.navbar .nav-icons{
  display: none;
}


/* HEADER STYLING */
.header{
  background-image: radial-gradient(closest-side at 15% 33%, #903aff4d,  #150e28);
}

.hearder-details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-top: 60px;
}


/* THE BIG IDEA SECTION STYLING */
.big-idea{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

/* RULES AND GUIDELINES SECTION STYLING */
.rules{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  background-image: radial-gradient(closest-side at 15% 33%, #903aff4d,  #150e28);
}

/* REWARDS SECTION STYLING */
.rewards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

/* PRIVACY POLICY STYLING */
.privacy{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 50px;
}

/* FOOTER STYLING */
.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}

.footer ul li{
  list-style: none;
  margin-left: -40px;
}

/* REGISTER STYLING */
.register{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

label{
  margin-top: 20px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* CONTACT STYLING */
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

/* MOBILE VIEW */
@media screen and (max-width:800px){

  .container{
    display: grid;
  }

  /* NAVBAR STYLES FOR MOBILE VIEW */
  .navbar .nav-links{
    display: none;
  }

  .navbar .links{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 30px;
    z-index: 1;
    background-color: #000000;
}

  .navbar .nav-icons{
    display: inline;
  }

  .navbar .nav-btn{
    margin: 0;
  }

  /* MOBILE VIEW STYLES FOR HEADER */
  .hearder-details{
    display: grid;
    grid-template-columns: 100%;
  }

  /* MOBILE VIEW STYLES FOR HEADER */
  .big-idea{
    display: grid;
    grid-template-columns: 100%;
  }


  .rules{
    display: grid;
    grid-template-columns: 100%;
  }

}